.color_1 {
    background-image: linear-gradient(to right, #0E73A5, #A8E5FF);
}

.color_2 {
    background-image: linear-gradient(to right, #235351, #399893);
}

.color_3 {
    background-image: linear-gradient(to right, #737373, #E6E6E6);
}

.color_4 {
    background-image: linear-gradient(to right, #282380, #8F80E5);
}

.color_5 {
    background-image: linear-gradient(to right, #314C64, #2E91DE);
}

.color_6 {
    background-image: linear-gradient(to right, #314C64, #2E91DE);
}

.color-b5 {
    color: #5c8cb5;
}

.color-58 {
    color: #ac7758;
}

.color-34 {
    color: #8a3a34;
}

.color-9e {
    color: #6d8d9e;
}

.color-6e{
    color: #00a76e;
}