$primary-clr: #F2F0FA;
$secondary-clr: #EBE7F8;

$color-fresh-lime: #B0E665;
$color-fresh-lime-light: #F3F9EB;

$color-lavender: #B67EDC;
$color-lavender-light: #EFE9F6;

$black-clr: #000000;
$white-clr: #ffffff;
$light-clr: #f8f9fa;

$color-51:#374151;
$color-28:#111928;
$color-63:#4B5563;
$color-37:#1f2a37;
$color-28:#111928;
$color-41:#374151;
$color-ca:#4342CA;
$color-fb:#F9FAFB;
$color-c3: #363DC3;
$color-f6:#F3F4F6;
$color-ff:#EFF8FF;
$color-ef:#c8e0ef;
$color-f8:#e6f0f8;
$color-6c:#0f766e;
$color-af:#9CA3AF;
$color-ab:#F9FAFB;
$color-80:#6b7280;
$color-eb:#E5E7EB;

$border-color:#f3f4f6;


$primary-font:'Verona Serial';
$secondery-font:'Nunito';
