@import "./utilities/variables";
@import "./utilities/colors";

@import "./vendors/bootstrap/bootstrap.scss";

@import "./core/reset",
"./core/typography";

@import "./layout/footer",
"./layout/header";

@import "./components/buttons";
@import "./components/pagination";
@import "./components/modal";
@import "./components/breadcrumb";
@import "./components/animation";

@import "./pages/index";
@import "./pages/products";
@import "./pages/product-detail";
@import "./pages/policy";
@import "./pages/about";
@import "./pages/newsletter";
@import "./pages/blogs";