/* ===================================== */
/*          CONTACT SECTION STYLE        */
/* ===================================== */
.newsletter {
    padding: 16px 0;

    &_card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 20px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        background-color: $color-6c;
        border-radius: 24px;
        width: 100%;
        order: 2;

        @include media-breakpoint-up(md) {
            padding: 48px;
        }

        @include media-breakpoint-up(lg) {
            padding: 64px;
            width: 60%;
            order: 0;
        }

        h2 {
            color: $white-clr;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $white-clr;
            margin-top: 16px;

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }

        }
    }


    &_form {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 12px;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
            column-gap: 12px;
        }

        input {
            flex: 1;
            padding: 12px 16px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            color: $black-clr;
            outline: none;
            transition: box-shadow 0.3s ease;

            &:focus {
                box-shadow: 0 0 0 2px $white-clr;
            }
        }

        button {
            font-size: 14px;
            font-weight: 500;
            border-radius: 8px;
            background-color: $color-28;
            color: $white-clr;
            flex: 1;
            padding: 11px 0;
            border: 1px solid $color-28;
            transition: all 0.3s ease-in-out;
            width: 100%;

            @include media-breakpoint-up(sm) {
                max-width: 160px;
            }

            &:hover {
                background-color: lighten($black-clr, 10%);
            }
        }
    }


    &_note {
        font-size: 14px;
        color: $white-clr;
        opacity: 0.8;
        margin-top: 24px;
        display: block;
    }

    &_image {
        flex: 1;
        width: 100%;
        border-radius: 24px;

        img {
            height: 400px;

            @include media-breakpoint-up(md) {
                height: 450px;
            }

            @include media-breakpoint-up(lg) {
                height: 520px;
            }

        }
    }

}

/* ===================================== */
/*           FOOTER SECTION STYLE        */
/* ===================================== */

.footer {
    background-color: #181818;
    padding-top: 80px;
    margin-top: 80px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 40px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &_newsletter {
        width: 100%;
        border-radius: 20px;
        background-color: #181818;
        margin-bottom: 0;
        border: 1px solid #494949;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 60px;
        padding: 16px;
        display: none;

        @include media-breakpoint-up(md) {
            border-radius: 36px;
            flex-direction: row;
            padding: 32px;
        }

        p {
            align-self: flex-start;
            color: #F9FAFB !important;
            font-size: 16px;
            font-weight: 500;

            @include media-breakpoint-up(md) {
                align-self: center;
                margin-right: 20px;
            }

        }

        input {
            position: relative;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 8px;
            column-gap: 10px;
            height: 52px;
            width: 100%;
            background-color: #494949;
            background-image: url(../images/icons/mail.svg) !important;
            background-position: 5% center;
            background-repeat: no-repeat;
            background-size: 6%;
            padding-left: 46px;
            color: #F3F4F6;

            &::placeholder {
                color: #F3F4F6;
            }

            &:focus-visible {
                outline: none;
                border: none;
            }

            @include media-breakpoint-up(md) {
                width: 345px;
            }
        }

        button {
            background-color: $white-clr;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;

            img {
                width: 14px;
                height: 14px;
            }
        }

    }

    &_logo {
        img {
            max-width: 300px;

            @include media-breakpoint-up(md) {
                max-width: 220px;
            }
        }

        p {
            align-self: flex-start;
            color: #F9FAFB !important;
            font-size: 16px;
            font-weight: 500;
            width: 100%;

            @include media-breakpoint-up(md) {
                align-self: center;
                margin-right: 20px;
                max-width: 300px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 24px;

            li {
                a {
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 36px;
                    width: 36px;
                    background-color: rgba(255, 255, 255, 0.11);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: rotate(360deg);
                        transition: all 0.3s ease-in-out;
                    }
                }

                img {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                }
            }
        }
    }

    &_flex {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include media-breakpoint-up(lg) {
            gap: 100px;
        }

    }

    &_awards {
        display: flex;
        gap: 40px;
        margin-top: 20px;

        img {
            max-width: 130px;
            object-fit: contain;
        }
    }

    &_links {
        h5 {
            color: $color-af;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Outfit', sans-serif;
            line-height: 27px;
            height: 35px;

        }

        ul {
            li {
                color: $color-fb;
                font-size: 16px;
                line-height: 27px;

                a {
                    color: $color-fb;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 27px;
                    height: 43px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &_bottom {
        display: flex;
        padding: 24px 0;
        border-top: 1px solid #494949;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            color: $white-clr !important;
            order: 2;

            @include media-breakpoint-up(md) {
                order: 0;
            }
        }

        ul {
            display: flex;
            align-items: center;
            column-gap: 14px;
            color: $white-clr;

            li {
                a {
                    color: $white-clr;
                }
            }
        }
    }
}