/* ===================================== */
/*            BLOGS SECTION STYLE        */
/* ===================================== */

.article {
    margin-top: 60px;

    &_wrapper {
        display: flex;
        gap: 24px;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &_image {
        width: 60%;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        img {
            border-radius: 24px;
        }

        h2 {
            font-size: 62px;
            font-weight: 500;
            margin-top: 32px;
            line-height: 70px;

            @include media-breakpoint-down(lg) {
                font-size: 40px;
                line-height: 48px;
            }

            @include media-breakpoint-down(md) {
                font-size: 32px;
                line-height: 40px;
            }
        }

        p {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.89);
            margin-bottom: 8px;
            padding: 16px 0;
        }

        a {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.89);
            border-radius: 1.25rem;
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            background: rgba(0, 0, 0, 0.06);
            padding: 4px 12px;
        }
    }

    aside {
        flex: 1;

        h4 {
            font-size: 24px;
            letter-spacing: -0.051rem;

            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
        }

        h5 {
            font-size: 12px;
            font-weight: 500;
            margin-top: 8px;
        }

        p {
            color: rgba(0, 0, 0, 0.65);
            font-size: 16px;
            margin: 8px 0 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        a {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.89);
            border-radius: 1.25rem;
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            background: rgba(0, 0, 0, 0.06);
            padding: 4px 12px;
        }
    }

    &_content {
        display: flex;
        gap: 24px;

        &:not(:last-child) {
            margin-bottom: 26px;
        }

        img {
            width: 72px;
            height: 72px;
            border-radius: 8px;
        }
    }
}


.blog {
    margin-top: 100px;

    h2 {
        font-weight: 500;
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px 24px;
        margin-top: 18px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &_item {
        color: $black;

        img {
            border-radius: 24px;
            height: 250px;
        }

        h4 {
            padding: 16px 0 8px;

            @include media-breakpoint-up(md) {
                font-size: 29px;
                letter-spacing: -0.0811875rem;
                line-height: 30px;
            }

        }

        p {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.89);
            margin-bottom: 8px;
        }

        a {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.89);
            border-radius: 1.25rem;
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            background: rgba(0, 0, 0, 0.06);
            padding: 4px 12px;
        }
    }
}