/* ===================================== */
/*         newsletter SECTION STYL          */
/* ===================================== */

.newsletter {

    &_flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 64px 0;

        @include media-breakpoint-up(md) {
            padding: 96px 0;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

    }

    &_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            width: auto;
        }

        @include media-breakpoint-up(lg) {
            width: 46.25%;
        }

        p {
            margin-top: 16px;
            color: $color-37;
            width: 100%;
            font-size: 16px;
            line-height: 25px;

            @include media-breakpoint-up(lg) {
                font-size: 20px;
            }

        }

    }

    &_right {
        width: 100%;
        padding: 16px 0;

        @include media-breakpoint-up(lg) {
            width: 46.25%;
            padding: 24px 32px;
        }
    }

    &_inputs {
        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: $color-37;
        }

        input {
            margin-top: 8px;
            border: 1px solid #f3f4f6;
            background: #f9fafb;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-start;
            padding: 14px 16px;
            line-height: 150%;
            border-radius: 8px;

            &:focus-visible {
                border: 0.5px solid #363dc3;
                outline: 0.5px solid #363dc3;
            }

        }

        textarea {
            margin-top: 8px;
            border: 1px solid #f3f4f6;
            background: #f9fafb;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-start;
            padding: 12px 16px;
            line-height: 150%;
            border-radius: 8px;
            min-height: 160px;


            &:focus-visible {
                border: 0.5px solid #363dc3;
                outline: 0.5px solid #363dc3;
            }
        }
    }

    &_input {
        margin-bottom: 24px;
    }

    &_btn {
        button {
            width: 100%;
        }
    }
}


/* ===================================== */
/*         CONNECT SECTION STYL          */
/* ===================================== */

.connect {
    background: #f9fafb;

    &_wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        padding: 40px 20px;
        border-radius: 24px;
        row-gap: 36px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: space-between;
            column-gap: 96px;
            padding-left: 16px;
            padding-right: 16px;
            row-gap: 0;
        }

    }

    &_col {
        text-align: center;

        img {
            width: 48px;
            height: 48px;
        }

        h4 {
            margin-top: 16px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
            color: #1f2a37;
        }

        p {
            text-align: center;
            font-size: 16px;
            line-height: 150%;
            color: #6b7280;
            max-width: 362px;
            width: 100%;
        }

        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            color: #363dc3;
            text-align: center;
            margin-top: 4px;
            display: block;
        }

        button {
            border: 1px solid #363dc3;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 8px 12px;
            font-size: 12px;
            font-weight: 500;
            line-height: 150%;
            color: #363dc3;
            margin: 0 auto;
            margin-top: 4px;

            img {
                margin-left: 8px;
                height: 16px;
                width: 16px;
            }
        }
    }
}