/* ===================================== */
/*         HERO SECTION STYLE            */
/* ===================================== */
.hero {
    padding-top: 40px;

    &_content {
        h1 {
            font-size: 42px;
            font-weight: 400;
            line-height: 1.2;
            text-transform: capitalize;

            @include media-breakpoint-up(md) {
                font-size: 64px;
                line-height: 74px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 87px;
                line-height: 97px;
            }

        }

        p {
            font-size: 16px;
            margin-top: 12px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }

        .content {
            position: relative;
            font-size: 54px;
            display: flex;
        }

        .words-container {
            position: relative;
            flex-grow: 1;
            overflow: hidden;
            min-height: 72px;
        }

        .word {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &_service {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 4px;
        margin-top: 40px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &_item {
        min-height: 200px;
        border-radius: 26px;
        background-color: $color-f8;
        padding: 19px 24px 9px 24px;
        cursor: pointer;
        transition: .3s all ease;
        position: relative;

        .icon {
            height: 12px;
            width: auto;
        }

        h4 {
            font-size: 20px;
            letter-spacing: -0.065625rem;
            font-weight: 500;
            transition: .3s all ease;
        }

        span {
            background-color: #10734f;
            color: $white-clr;
            border-radius: 50px;
            font-weight: 400;
            padding: 2px 6px;
            font-size: 11px;
        }

        &:hover {
            transition: .3s all ease;

            .hero_img img {
                transform: rotate(0deg);
            }

            h4 {
                color: $white-clr;
            }

            &:nth-child(1) {
                background-image: linear-gradient(to right, #0E73A5, #A8E5FF);
            }

            &:nth-child(2) {
                background-image: linear-gradient(to right, #235351, #399893);
            }

            &:nth-child(3) {
                background-image: linear-gradient(to right, #08707F, #89bdc5);
            }

            &:nth-child(4) {
                background-image: linear-gradient(to right, #282380, #8F80E5);
            }

            &:nth-child(5) {
                background-image: linear-gradient(to right, #314C64, #2E91DE);
            }

            &:nth-child(6) {
                background-image: linear-gradient(to right, #0E73A5, #A8E5FF);
            }
        }

        &-url {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;

            a {
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }

    &_img {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        img {
            height: 145px;
            width: auto;
            transform: rotate(-13deg);
            transition: .3s all ease;
        }
    }

}

/* ===================================== */
/*          QUALITY SECTION STYLE        */
/* ===================================== */
.quality {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }

    .section-title {
        p {
            max-width: 910px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-top: 24px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_item {
        border-radius: 26px;
        border: 1px solid #0000001a;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .3s all ease;

        h5 {
            font-size: 22px;
            font-weight: 400;
            line-height: 28px;
        }

        p {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 14px;
        }

        &:hover {
            transition: .3s all ease;
            background-color: #0f766e;
        }
    }

    &_icon {
        margin: 28px 18px 18px 18px;
    }

    &_content {
        margin-top: 70px;
        background-color: #f6f5f2;
        border-radius: 26px;
        padding: 30px 20px 20px 20px;
        min-height: 203px;
    }
}


/* ===================================== */
/*       GET ACCESS SECTION STYLE        */
/* ===================================== */
.access {
    margin-top: 100px;
    background-color: #5b86a4;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
        margin-top: 60px;
        padding-bottom: 50px;
    }

    &::after {
        content: '';
        position: absolute;
        min-height: 120px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgb(91, 134, 164);
        mask-image: linear-gradient(180deg, transparent, black);
        z-index: -1;
    }

    .section-title {
        h2 {
            line-height: 46px;
            margin: 0 auto;
            max-width: 478px;
        }

        p {
            margin-top: 12px;
        }
    }

    &_man {
        margin-top: 40px;
        position: relative;

        img {
            display: flex;
            margin: 0 auto;

            @include media-breakpoint-up(md) {
                width: auto;
            }
        }

        &::after {
            content: '';
            position: absolute;
            min-height: 120px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: rgb(91, 134, 164);
            mask-image: linear-gradient(180deg, transparent, black);
        }
    }

    &_btn {
        text-align: center;
    }

    &_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        max-width: 1132px;
        width: 100%;
        margin: 0 auto;
    }

    &_col {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &_item {
        border-radius: 26px;
        backdrop-filter: blur(1.25rem);
        background: rgba(0, 0, 0, 0.12);
        color: rgb(255, 255, 255);
        padding: 40px;
        height: 400px;
        overflow: hidden;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        h4 {
            font-size: 29px;
            line-height: 36px;
            font-weight: 500;
            color: $white-clr;
            max-width: 230px;
            width: 100%;
        }

        .btn-1 {
            background: rgba(255, 255, 255, 0.17);
            backdrop-filter: blur(20px);
            padding: 12px 25px;
            border-radius: 36px;
            color: #ffffff;
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 54px;

            @media (max-width: 768px) {
                padding: 12px 30px;
                font-size: 15px;
            }
        }

        .img-1 {
            height: 100%;
            position: absolute;
            left: 12px;
            z-index: -1;
            top: 61px;
            width: 500px;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            li {
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 500;
                padding: 11px 24px;
                background: rgba(255, 255, 255, 0.17);
                border-radius: 30px;
                display: inline-block;
                width: fit-content;
            }
        }


    }

    &_text {
        p {
            max-width: 734px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 36px;
            color: #ffffff57;
            font-size: 14px;
        }
    }
}

/* ===================================== */
/*         STEPS SECTION STYLE           */
/* ===================================== */
.steps {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }

    &_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4px;
        margin-top: 40px;

        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 80px;
        }
    }

    &_col {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:nth-child(2) {
            @include media-breakpoint-up(sm) {
                margin-top: 160px;
            }
        }
    }

    &_item {
        text-align: center;
        background-color: $color-f8;
        border-radius: 24px;
        padding: 40px 50px 0px;

        @include media-breakpoint-up(md) {
            padding: 40px 128px 0px;
        }

        h4 {
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            max-width: 240px;
            margin: 0 auto;
            text-transform: capitalize;
        }

        p {
            text-align: center;
            font-size: 16px;
            max-width: 222px;
            margin: 0 auto;
            margin-top: 16px;
        }

        a {
            font-size: 14px;
            padding: 12px 40px;
            font-weight: 400;
            background-color: $black-clr;
            color: $white-clr;
            border-radius: 34px;
            margin-top: 32px;
            display: inline-block;
        }
    }

    &_img {
        margin-top: 80px;
    }
}


/* ===================================== */
/*         GUIDE SECTION STYLE           */
/* ===================================== */
.guide {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }

    &_slider {
        margin-top: 24px;

        .guideslider-1 {
            .slick-slide {
                margin-right: 8px;
            }

            img {
                height: 420px;
                border-radius: 20px;

                @include media-breakpoint-up(md) {
                    height: 580px;
                }
            }
        }

        .guideslider-2 {
            .slick-slide {
                margin-right: 8px;
            }

            .slick-item {
                border-radius: 20px;
                padding: 20px 18px 10px;
                display: flex !important;
                flex-direction: column;
                justify-content: flex-end;
                gap: 4px;
                color: $white-clr;
                height: 110px;

                @include media-breakpoint-up(md) {
                    height: 240px;
                }

                h4 {
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: 500;
                    letter-spacing: -1.21px;

                    @include media-breakpoint-up(lg) {
                        font-size: 36px;
                        line-height: 48.6px;
                        letter-spacing: -3.45px;
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 14.4px;
                    letter-spacing: -0.57px;

                    @include media-breakpoint-up(lg) {
                        font-size: 16px;
                        line-height: 16.3px;
                        letter-spacing: -0.73px;
                    }
                }

            }
        }
    }

}

/* ===================================== */
/*         FAQ SECTION STYLE            */
/* ===================================== */
.help {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }

    &_accordion {
        margin-top: 50px;

        .accordion {
            max-width: 1070px;
            margin: 0 auto;

            &-item {
                border: none;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
                    margin-bottom: 24px;
                    padding-bottom: 24px;
                }
            }

            &-button {
                box-shadow: none;
                background-color: transparent;
                font-size: 30px;
                line-height: normal;
                padding: 0;
                color: $black-clr;

                &::after {
                    background-image: url(../images/index/plus.png);
                    background-position: center;
                    background-size: 15px;
                    background-color: #0f766e;
                    padding: 14px;
                    border-radius: 50%;
                }
            }

            &-body {
                padding: 24px 0 0 0;
            }
        }
    }
}

/* ===================================== */
/*         TEAM SECTION STYLE            */
/* ===================================== */
.team {
    background-color: #f6f5f2;
    margin: 100px 0;
    padding: 100px 0 70px 0;

    &_slider {
        margin-top: 25px;

        .swiper {

            &-slide {
                background-color: $white-clr;
                border-radius: 24px;
                text-align: center;
                height: auto;
            }

            &-image {
                margin: 30px;


                img {
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                }
            }

            &-content {
                border-top: 1px solid #0000001a;
                padding: 20px;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                }

                span {
                    font-size: 12px;
                    font-weight: 500px;
                    margin-top: 4px;
                    display: block;
                }
            }
        }
    }
}