/* ===================================== */
/*           MULTISLIER BANNER           */
/* ===================================== */

.multislider {
    background-color: $color-lavender-light;
    overflow: hidden;
    padding: 56px 0;

    @include media-breakpoint-up(lg) {
        height: 800px;
        padding: 0;
    }

    &_wrapper {
        height: 100%;
        display: flex;
        gap: 24px;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            gap: 40px;
            align-items: center;
            flex-direction: row;
        }
    }

    &_left {
        flex: 1;

        h2 {
            max-width: 576px;
            width: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-top: 24px;

            li {
                display: flex;
                align-items: flex-start;
                column-gap: 16px;
                font-size: 16px;
                font-weight: 500;
                color: $color-51;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        p {
            display: none;
            margin-top: 32px;
            font-size: 14px;
            color: #4B5563;

            @include media-breakpoint-up(lg) {
                display: block;
            }

        }
    }

    &_right {
        width: 100%;
        display: flex;
        gap: 4px;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            width: 42%;
            flex-direction: row;
            gap: 14px;
        }

        .slider {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 50%;
            }

            .slick-slide {
                margin: 0px 6px;

                @include media-breakpoint-up(lg) {
                    margin: 6px 0;
                    display: flex !important;
                }


                img {
                    border-radius: 24px;
                    background-color: #EAF7F5;
                    height: 260px !important;

                    @include media-breakpoint-up(md) {
                        height: 336px !important;
                    }
                }
            }
        }
    }
}