/* ===================================== */
/*           MULTISLIER BANNER           */
/* ===================================== */
.multislider {
    background-color: #e6f0f8;
    overflow: hidden;
    padding: 56px 0;

    @include media-breakpoint-up(lg) {
        height: 800px;
        padding: 0;
    }

    &_wrapper {
        height: 100%;
        display: flex;
        gap: 24px;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            gap: 40px;
            align-items: center;
            flex-direction: row;
        }
    }

    &_left {
        flex: 1;

        h2 {
            max-width: 576px;
            width: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-top: 24px;

            li {
                display: flex;
                align-items: flex-start;
                column-gap: 16px;
                font-size: 16px;
                font-weight: 500;
                color: $color-51;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        p {
            display: none;
            margin-top: 32px;
            font-size: 14px;
            color: #4B5563;

            @include media-breakpoint-up(lg) {
                display: block;
            }

        }
    }

    &_right {
        width: 100%;
        display: flex;
        gap: 4px;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            width: 42%;
            flex-direction: row;
            gap: 14px;
        }

        .slider {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 50%;
            }

            .slick-slide {
                margin: 0px 6px;

                @include media-breakpoint-up(lg) {
                    margin: 6px 0;
                    display: flex !important;
                }


                img {
                    border-radius: 24px;
                    background-color: #EAF7F5;
                    height: 260px !important;

                    @include media-breakpoint-up(md) {
                        height: 336px !important;
                    }
                }
            }
        }
    }
}

/* ===================================== */
/*       STAGE SLIDER SECTION STYLE      */
/* ===================================== */
.stage {

    &_slider {
        margin-top: 48px;

        .swiper {
            &-slide {
                padding: 16px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                border-radius: 24px;


                @include media-breakpoint-up(lg) {
                    height: 275px;
                }

                img {
                    width: 52px;
                    height: 52px;
                    border-radius: 12px;
                    flex-shrink: 0;

                    @include media-breakpoint-up(lg) {
                        width: 80px;
                        height: 80px;
                    }

                }

                h4 {
                    margin-top: 12px;
                    color: #1F2A37;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 125%;
                    word-break: break-word;
                    white-space: normal;

                    @media (min-width: 640px) {
                        font-size: 18px;
                    }

                    @include media-breakpoint-up(lg) {
                        margin-top: 16px;
                        font-size: 24px;
                    }

                }

                p {
                    margin-top: 16px;
                    color: #374151;
                    font-weight: 500;
                    font-size: 14px;

                    @include media-breakpoint-up(lg) {
                        margin-top: 24px;
                        font-size: 16px;
                    }

                }

            }
        }
    }
}

/* ===================================== */
/*           FAQ SECTION STYLE           */
/* ===================================== */
.faq-3 {
    padding-top: 32px;

    @include media-breakpoint-up(md) {
        padding-top: 96px;
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }

    }

    &_content {
        @include media-breakpoint-up(md) {
            width: 40.31%;
        }
    }


    &_accordion {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            width: 54.69%;
        }

        .accordion {

            &-item {
                box-shadow: none;
                overflow: hidden;
                width: 100%;
                border: 0;
                border-radius: 0;
                padding: 24px 0;
                background-color: transparent;

                &:not(:last-child) {
                    border-bottom: 1px solid #E5E7EB;
                }

            }

            &-button {
                font-weight: 500;
                font-size: 16px;
                line-height: 125%;
                color: $color-37;
                box-shadow: none;
                padding: 0;
                background-color: transparent;
                gap: 16px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                }

                &::after {
                    background-image: url(../images/icons/arrow-down.svg);
                    background-size: cover;
                    width: 22px;
                    height: 22px;

                    @include media-breakpoint-up(md) {
                        width: 25px;
                        height: 25px;
                    }
                }

                img {
                    width: 24px;
                    height: 24px;

                    @include media-breakpoint-up(lg) {
                        width: 32px;
                        height: 32px;
                    }

                }

            }

            &-body {
                padding: 0;

                p {
                    margin-top: 32px;
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-63;
                }
            }

        }
    }

}