h1 {
    color: $color-28;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;

    @include media-breakpoint-up(xl) {
        font-size: 48px;
        line-height: 60px;
    }
}


h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $color-37;

    @include media-breakpoint-up(md) {
        font-size: 48px;
        line-height: 60px;
    }
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $color-28;

    @include media-breakpoint-up(md) {
        font-size: 36px;
        line-height: 40px;
        color: $color-37;
    }

    @include media-breakpoint-up(lg) {
        line-height: 125%;
    }

}

.section-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;

    p {
        font-size: 16px;
        margin-top: 12px;
        max-width: 650px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }

}